.single__home__img {
  border-radius: 4px;
}
.single__home h6 {
  font-size: 11px;
  margin-top: 3px;
  font-weight: 700;
}
.single__home h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 2px;
}

.single__home__star {
  color: #00a799;
}

.single__home__reviews {
  display: flex;
  align-items: center;
}
.single__home__reviews span {
  margin-top: 3px;
}
